{% extends widget.get_base_template %}

{% block content %}
<div id="analog_clock_{{ widget.fe_identifier }}" class="analog-clock"></div>
<script type="text/javascript">
$(document).ready(function() {
  var placeholder = '#analog_clock_{{ widget.fe_identifier }}'
  var parent_box = $(placeholder).parent();
  width = parent_box.width();
  d3clock({
    target: placeholder,
    face: 'pf',
    width: width*2,
    // date:'Mon May 25 2015 10:09:37',
    TZOffset: {
      hours: 0
    }
  });
});
</script>
{% endblock %}
